body {
    background: #113;
    color: #fff;
}

@font-face {
    font-family: "digital7";
    src: url("digital7.ttf") format("TrueType");
  }
  

.calculator-container {
    display: flex;
    flex-direction: column;
    background: #222;
    width: 300px;
    padding: 10px;
    border: #333 1px solid;
    margin: auto;
    margin-top: 5%;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px #555 solid;
    margin: 5px 0 15px 0;
    color: #000;
    font-family: "digital7";
}

.output-current {
    font-size: 50px;
}

.buttons-grid {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-sizing: border-box;
    width: 100%;
}

.buttons-grid  button {
    align-self: center;
    aspect-ratio: 1 / 1;
    border: 1px solid #222;
    border-radius: 0;
    color: #fff;
    font-size: 25px;
}

button {
    background: #333;
}
button:hover {
    background: #444;
    border: 1px solid #555;
}

.red {
    background: #833;
}
.red:hover {
    background: #944;
}

.green {
    background: #363;
}
.green:hover {
    background: #474;
}

.blue {
    background: #338;
}
.blue:hover {
    background: #449;
}